.section-4 {
  padding-top: 170px;
  padding-bottom: 250px;
}

.section-4 .section-title {
  margin-bottom: 30px;
}

.stack-item {
  position: relative;
  padding: 1px !important;
}

.stack-item .stack-action {
  position: absolute;
  inset: 1px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.45);
}

.stack-item .stack-action .icon-add {
  font-size: 48px;
  margin-top: 10px;
}

.section-4 .nav-tabs {
  border: none;
  margin-bottom: 60px;
}

.section-4 .nav-tabs .nav-link {
  background: transparent;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  position: relative;
  text-transform: uppercase;
  color: white;
  font-size: 35px;
}

.section-4 .nav-tabs .nav-link.active {
  font-weight: 600;
  color: var(--navi);
}

.section-4 .nav-tabs .nav-link::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.section-4 .nav-tabs .nav-link.active::after {
  background-color: var(--navi);
  transform: scaleY(7);
}

@media (max-width: 1549px) {
  .bg-big-wrap {
    background-size: 130% auto;
  }
}

@media (max-width: 991.98px) {
  .bg-big-wrap {
    background-size: 360% auto;
  }
}

@media (max-width: 575.98px) {
  .bg-big-wrap {
    background-size: 450% auto;
  }

  .section-4 {
    padding-top: 100px;
  }

  .section-4 .nav-tabs .nav-link {
    font-size: 25px;
  }

  .stack-item .stack-action {
    font-size: 18px;
  }

  .stack-item .stack-action .icon-add {
    font-size: 40px;
  }
}
